$text_secondary_main: #ff9800;

$aside_width_desktop: 150px;

$primary_main: #ff9800;
$primary_light: #ffcc80;
$primary_dark: #f57c00;

$secondary_main: #76ff03;
$secondary_light: #b2ff59;
$secondary_dark: #33691e;

$info_main: #5d4037;
$info_dark: #4e342e;
$info_light: #8d6e63;
