@import  "../../../assets/scss/app";

.guildCard {
  margin: 10px 5px 0;
  width: 120px;
  background-color: $info_dark!important;
  transition: 0.3s!important;
  box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.5)!important;

  @include desktop {
    width: 160px;
  }

  .actionArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgWrapper {
      position: relative;
      height: 150px;
      border-radius: 5px;
      margin-top: 5px;
      background: $info_dark;

      @include desktop {
        height: 200px;
      }

      img {
        border-radius: 5px;
        height: 150px;

        @include desktop {
          height: 200px;
        }
      }

      .preloader {
        @include absoluteStart;
        @include centerColumn;
      }
    }



    .name {
      font-size: 14px;
      line-height: 166%;
      color: $primary_main;
      transition: 0.3s;
    }
  }

  &:hover {
    background-color: $info_main!important;
    box-shadow:  8px 8px 5px rgba(0, 0, 0, 0.5)!important;

    .name {
      color: $secondary_main;
    }
  }



}